* {
    /*font-size: 14pt;*/
    font-family: 'Helvetica';
    color: rgb(80,80,80);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex: 1;
}

.flex-container div {
    overflow: auto;
    flex: 1;
}

#workspace {
}

#left {
    flex: 0 0 30ch;
    /*background-color: rgb(225,229,234);*/
    border-right: 1px solid rgb(160,160,160);
}

div.section-header {
    flex: 0 0 auto;
    padding: 2px;
    padding-left: 8px;
    padding-right: 4px;
    /*color: rgba(0,0,0,0.45);*/
    /*background-color: rgb(230, 238, 240);*/
    background-color: #EEE;
    text-transform: uppercase;
    font-size: small;
    /*font-weight: bold;*/
    /*border-bottom: 1px solid rgb(160,160,160);*/
    min-height: 1em;
}

#input {
    flex: 0 0 auto;
    border-bottom: 1px solid rgb(160,160,160);
    min-height: 80px;
    padding: 16px;
}

#input table {
    margin-top: 18px;
    margin-bottom: 18px;
}

#input table > tbody > tr > td {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
}

#input table > tbody > tr > td:first-child {
    padding-right: 8px;
    text-align: right;
}

#input table > tbody > tr > td:first-child::after {
    content: ": ";
}

#input input {
    margin: 0px;
    min-width: 30ch;
}

#input input[type=button] {
    margin: 0px;
    min-width: 12ch;
}

#input select {
    min-width: 100%;
}

#apps {
    flex: 4;
    border-bottom: 1px solid rgb(160,160,160);
}

#commands {
    flex: 3;
}

.toolbar {
    flex: 0 0 auto !important;
    /*background-color: rgb(230,230,230);*/
    border-bottom: 1px solid rgb(160,160,160);
    cursor: default;
    min-height: 1.5em;
}

.toolbar > .item {
    flex: 0 0 auto;
    line-height: 1.5em;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid rgb(160,160,160);
}

.list-view {
    color: inherit
}

.list-view > .item {
    /*background-color: rgb(200,200,200);*/
    padding: 4px;
    overflow: hidden;
    cursor: default;
}

.item:hover {
    background-color: #EEE;
}

.list-view#channel-view > .item:nth-child(even) {
    background-color: #EEE;
}

.list-view > .item > .label {
    color: inherit;
}

.list-view > .item .lvi-caption {
    color: rgb(20,20,20);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.list-view > .item > .info {
    color: rgb(128,128,128);
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-view > .selected > .info {
    color: inherit;
}

.list-view > .selected .lvi-caption {
    color: inherit;
}

.led {
    display: inline-block;
    position: relative;
    top: -1px;

    padding-top: 1px;
    margin-right: 4px;
    min-width: 9ch;

    /*border-radius: 4px;*/
    /*border-radius: 1em;*/

    vertical-align: middle;
    text-align: center;

    color: white;
    background-color: crimson;

    font-size: 8pt;
    text-transform: uppercase;
}

.led::after {
    content: "offline";
}

.list-view#proc-view > .item {
    border-bottom: 1px solid rgb(160,160,160);
}

#statusbar {
    background-color: #EEE;
}

#statusbar > .item:first-child {
    flex: 0 0 auto;
    line-height: 1.5em;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}

#statusbar > .item:not(:first-child) {
    flex: 0 0 auto;
    line-height: 1.5em;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid rgb(160,160,160);
}

#channel-bar > .item {
    /*border-top: 1px solid rgb(160,160,160);*/
}

#channel-view {
    padding: 8px;
}

#commands > .list-view > .item {
    padding-left: 8px;
}

#channel-view > .item {
    font-size: 10pt;
    font-family: 'Consolas';
}

.online > .label > .led {
    background-color: #0C0 !important;
}

.online > .label > .led::after {
    content: "online" !important;
}

.alert > .label > .led {
    background-color: darkorange !important;
}

.alert > .label > .led::after {
    content: "alert" !important;
}

.selected {
    color: white !important;
    /*background-color: rgb(51, 119, 208) !important;*/
    background-color: slategray !important;
}
